@using WEI.Web.Models
@model IEnumerable<MenuItemViewModel>

<script type="text/javascript">
    ddsmoothmenu.init({
        mainmenuid: "smoothmenu1", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    });
</script>

<div id="smoothmenu1" class="ddsmoothmenu">
<ul class="dynamic-menu">
    @{
        foreach (MenuItemViewModel menuItem in Model.Where(p => p.ParentMenuItemId == null).OrderBy(p => p.Position))
        {
            <li><a href="@menuItem.Url">@menuItem.Name</a>
                @{
                    if (Model.Count(p => p.ParentMenuItemId == menuItem.Id) > 0)
                    {
                        <ul>
                            @RenderMenuItem(Model, menuItem)
                        </ul>
                    }
                }
            </li>
        }
    }
</ul>
</div>

@helper RenderMenuItem(IEnumerable<MenuItemViewModel> menuItems, MenuItemViewModel currentMenuItem)
    {
        foreach (MenuItemViewModel menuItem in menuItems.Where(p => p.ParentMenuItemId == currentMenuItem.Id).OrderBy(p => p.Position))
    {
       <li><a href="@menuItem.Url">@menuItem.Name</a>
                @{
                    if (Model.Count(p => p.ParentMenuItemId == menuItem.Id) > 0)
                    {
                        <ul>
                            @RenderMenuItem(Model, menuItem)
                        </ul>
                    }
                }
        </li>
    }
}