@using WEI.Web.Models
@model IEnumerable<ArticleViewModel>
@{
    ViewBag.Title = "Home";
}

@{
        if(Model != null && Model.Any())
        {
            foreach (ArticleViewModel article in Model)
            {
                <article class="post">
                    <div class="post-thumbnail">
                        <a title="@article.Title" href='@article.ArticleUrl'> 
                            <img src="http://smashinghub.com/wp-content/uploads/2012/09/InTank-Business-Cards-12-200x200.jpg"/>
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="article-header">
                            <h2 class="article-title">
                                <a title="@article.Title" rel="bookmark" href="@article.ArticleUrl">@article.Title</a>
                            </h2>
                            <div class="article-deck">
                                <span>@article.Deck</span>
                            </div>
                        </div>
                        <div class="article-brief">
                            <p>@Html.Raw(article.Abstract)</p>
                        </div>
                        <div class="clear"></div>
                        <div class="read-full-article">
                            <span>
                                <a title="@article.Title" rel="bookmark" href='@article.ArticleUrl'>Read More</a>
                            </span>
                        </div>
                    </div>
                    <div class="clear"></div>        
                </article>
            }
        }
    }
